.Contact {
    /* background-image: linear-gradient(white, lightskyblue); */
}
.columns {
    justify-content: space-around;
    padding-top: 5%;
    /* padding-bottom: 5%; */
}
.icons {

}
.resumeDownload {
    align-self: center;
}