.appBar {
    background-color: white;
    flex-wrap: wrap;
}
.toolbar {
    background-color: #7e6fa4;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* TODO: Remove if not adding name */
.logoWrapper {
    display: flex;
}
.logo {
    width: 50px;
    height: auto;
}
.buttonsWrapper {
    flex-grow: 1;
    margin-left: -88px;
    align-items: center;
}
.buttons {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}
.link {
    align-self: center;
    cursor: pointer;
    color: white;

}