.Hero {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    width: auto;
    margin: auto;
}
.textSection {
    flex: 6;
    font-size: 50px;
    margin: auto;
}
.imageSection {
    justify-content: center; 
    flex: 4;
}
.image{
    flex: 4;
    width: 70%;
    border-radius: 20%;
}