.Hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(194, 230, 252);
}
h1 {
    margin: 0px;
}
.textSection {
    height: 100%;
    max-width: 350px;
    justify-content: center;
    padding: 2em;
}
.brief {
    font-size: 1.2rem;
    opacity: 0.8;
}
.image {
    width: 20vw; 
    height: auto;
}