.snippetPaper {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    text-align: left;
}
h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}
.organizationNameLocation {
    display: flex;
    justify-content: space-between;
}
.positionPaper {
    background-color: lightblue;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}
.positionNameDate {
    display: flex;
    justify-content: space-between;
}
.positionDescription {
}
